#container{
    background-color: rgb(243, 239, 236);
    width: 75%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 25vh;
    

    display: flex;
    flex-direction: column;
}

.item{
    background-color:rgb(241, 26, 26);
    margin: 0.5em; 
    
}

.um{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
}

.dois{
    flex-grow: 2;
}

.tres{
    flex-grow: 1;
}