body{
    height: 150vh;
    /* Cor Sólida
    background-color: rgb(21, 56, 56);*/

    /* Cores em Degradê/Gradient Linear
    background-image: linear-gradient(to top right, violet, pink, violet 20%);
    //tem como colocar porcentagem
    */

    /*Cores em Degradê Radial*/
    /* background-image: radial-gradient(pink, violet, purple);*/
    
   /*background-image: url("poquebola.jpg"); Adiciona uma imagem de fundo*/
   /*background-repeat: no-repeat; /* repeat-x no topo*, repeat-y coloca de vertical, no-repeat nao repete */
   /*background-position: center center; /* Aqui voce coloca a posição, pode usar pixel exemplo 200px 100px*/
   /*background-size: 100% ; /* pode colcoar pocentagem pixel exemplo 100px 200px*/

   background-image: url("pirata.jpg");
   background-position: center center; 
   background-size: cover;

   display: flex;
   justify-content: center;
   align-items: center;

}

#box{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    padding: 1em;
    margin: 1em;
    width: 500px; /* max-width usado muito para foto para nao estrapolar*/
    position: relative;
}

/* usando para propaganda  */
#propaganda{
    background-color: white;
    padding: 1em;
    border-radius: 15px;
    width: 200px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#formulario{
    background-color: rgba(25, 25, 25, 0.8);
    color: white;
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    top: 0px;
    right: 0px;
}

#menu{
    background-color: white;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

#menu ul{
    list-style: none; /* Tirando as bolinhas da lista*/
    padding: 0;
    margin: 0;

}

#menu ul li{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 20px;
    margin: 0.1em;

}